
.body {
  font-family: 'Raleway', sans-serif;
}
.searchbar-content {

}

.form-home {
  position: relative;
  width: 250px;
  float: right;
  margin-right: 240px;
  background-color: #F7F7F7;
  padding: 30px 10px 30px 10px;
  border-radius: 5%;
  margin-top: -130px;
}

.background {
  background-image: image-url("guitar.gif");
  text-align: center;
  background-position: center left;
  background-repeat: no-repeat;
  background-color: #23447B;
}

.filter-background {
  background-color: rgba(0,0,0,0);
}

.title-logo {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  color: #F7F7F7;
  text-align: center;
  padding: 290px 0;
/*  position: relative;
  margin-top: 50%;*/
}

.title-form {
  color: grey;
  margin-bottom: 20px;
}


.btn-home {
  text-align:center;
  padding:20px;
  font-size: 30px;

  a {
    color: white;
    text-transform: none;

    &:hover {
      text-transform: none;
    }
  }
}

.btn-danger {
background-color:#FD8A17;
border-color:#FD8A17;
}


// ------------------------------------ FORM INDEX --------------------------------------

.form-index {
  padding: 30px 10px 30px 10px;

}

.title-form-index {
  color: grey;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.btn-danger-index {
  background-color:#FD8A17;
  border-color:#FD8A17;
  text-align: center;
}


#search-index {
  background: #23447b;
  padding: 20px;

  form { text-align: center; }

  .form-group input {
    margin-right: 10px;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
  }

  .form-group select {
    height: 42px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 13px;
  }

  input[type="submit"] {
    padding: 11px 50px;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid #fff;
  }

  .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      margin-left: -5px;
      border-radius: 0px;
  }
}

#search-home {
  .form-group {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .form-control input,
  .form-control select {
    width: 100%;
  }

  #search_job_id {
    width: 193px;
  }

  input[type="submit"] {
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
  }
}


//------------------------------------------- DEVISE FORM ----------------------------


.devise-form {
  background-image: image-url("guitar.gif");
  text-align: center;
  background-position: center left;
  background-repeat: no-repeat;
  background-color: #23447B;
  height: 600px;
  color: white;

  a {
    color:white;
  }
}

.placement {
  margin-top: 100px;
}
