.featurelogo {
  border-radius: 50%;
  background-color: white;
  height: 200px;
  width: 200px;
  text-align: center;
  border-style: solid;
  border-color: #D2D2D2;
  border-width: 7px;
  position: relative;
  padding: 4px;
  margin-left: 170px;
  color: white;
}

.feature {
  background-color: #23447B;
}
