@import "home";
@import "header";

ul {
  list-style-type: none;
  display: inline;
}

.card-index {
  padding: 0px;
    /* padding-bottom: 20px; */
  margin-top: 5px;
  margin: 48px;
  border: 6px solid #F7F7F7;
  border-radius: 10px;
  height: 393px;
}

.title-project {
  text-align: center;
  color: #5F9EA0;
  font-size: 30px;
  font-weight: 900;
  font-family: raleway;
  // text-shadow: -1px 0 #F7F7F7, 0 1px #F7F7F7, 1px 0 white, 0 -1px #F7F7F7;
}



.project-description {
  color: #F7F7F7;
  margin-left: 20px;
  padding-top: 10px;
  text-align: left;
  font-family: raleway;
  font-size: small;
}

.project-link {
  background-color: white;
  background-size: cover;
  height: 54px;
  width: 100%;
  padding-top: 15px;
  top: -205px;
  position: absolute;
  text-align: center;
  font-family: raleway;
  font-weight: 900;
  font-variant: small-caps
}

.unfiltered {
 position: absolute;
 background-size: 100%;
     top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.project-picture {

  background-repeat: no-repeat;
  background-size: cover;
  // margin-left: 20px;
  // border-radius: 100%;
  // width: 200px;
  // height: 200px;
  // padding: 5px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

}

.rounded-job {
    background-color: white;
    background-position: left;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-style: solid;
    border-color: rgba(214, 200, 191, 0.54);
    bottom: px;
    margin-left: 5px;
    margin-bottom: 4px;
}
.job-list {
}

/*---------------------------- SHOW ---------------------*/

.rounded-job-show {
  background-color: white;
  background-position:left;
  background-size: cover;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  padding: 5px;

}

.project-media-show {
width: 100%;
height: 350px;
padding: 5px;
position: relative;
}

.project-media-filter {

}

.title-project-show {
  text-align: center;
  color: #F7F7F7;
  font-size: 40px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;

}


.body-show {

}

