<footer class="job-footer">
<!--  <div class="job-footer-1 text-center" role="contentinfo">
  <ul class="job-footer-list">

  <li class="job-footer-item">
    <a class="cc-small-link"
    href="#"
    target="_blank">
    FAQ</a>
  </li>

  <li class="job-footer-item">
    <a class="cc-small-link" href="#" target="_blank">CONTACTEZ-NOUS</a>
  </li>

  <li class="job-footer-item">
    <a class="cc-small-link" href="#" target="_blank">CARRIÈRES</a>
  </li>

  <li class="job-footer-item">
    <a class="cc-small-link" href="#" target="_blank">MENTIONS LÉGALES</a>
  </li>

  <li class="job-footer-item">
    <a class="cc-small-link" href="#" target="_blank">DONNEES PERSONNELLES</a>
  </li>

  <li class="job-footer-item">
    <a class="cc-small-link" href="#" target="_blank">NEWSLETTER</a>
  </li>

</div>
</div> -->

<div class="job-footer-2 text-center">
  <div class="social-links">
    <ul>

      <li>
        <a href="#" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>

      <li>
        <a href="#" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>

      <li>
        <a href="#" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>

    </ul>
</div>
</div>
</div>

