<div id='cssmenu'>
<ul>
   <li class='active'><a href='/'>Home</a></li>
   <li><a href='/projects'>Projects</a></li>
    <% if user_signed_in? %>
      <li class="pull-right">
        <%= image_tag current_user.picture, class:"photo-fb avatar dropdown-toggle" %>
      </li>
      <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li class="pull-right"><a href='/projects/new'>Create a Project</a></li>
    <% else %>
      <li class="pull-right"><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
    <% end %>


</ul>
</div>
