<%= render 'header' %>
 <section>
 <div class="feature">
  <div class="description text-center">
    <div class="row">
    <div class="col-md-4">
      <i class="fa fa-rocket"></i>
      <h2>Lancez vos projets</h2>
      <p>Trouvez enfin les personnes pour tous les corps de métiers dont votre projet à besoin. Trouvez un groupe pour jouer à votre mariage ? </p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-lightbulb-o"></i>
      <h2>Nulla ilacus</h2>
      <p>Praesent commodo elit vel massa gravida lacinia. Maecenas auctor dignissim porttitor. Donec tincidunt mi eget semper bibendum. Morbi quis sagittis sapien. Fusce ut ligula purus.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-commenting-o"></i>
      <h2>loja emjob</h2>
      <p>Praesent commodo elit vel massa gravida lacinia. Maecenas auctor dignissim porttitor. Donec tincidunt mi eget semper bibendum. Morbi quis sagittis sapien. Fusce ut ligula purus. N'est il pas?</p>
    </div>
  </div>
  </div>
</div>
</section>
<div class="pre-container">
  <div class="main">
      <h1>Welcome to
        <span class="city">Bangalore</span>
      </h1>
      <div class="get-started btn btn-pri">
        Get Started
      </div>
    </div>
  </div>
</div>

