.photo-profile {
  text-align: center;
}

.img-circle-profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 8px;
    border-color: white;
}

.firstname {
    font-family: 'raleway', cursive;
    font-size: 50px;

}

.profile-user {
  background: #23447B;
  color: white;
  margin-bottom: 20px;
}
.infos {
  text-align: center;
  margin: 20px auto;
  color:white;
  h3 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 45px;
    color: white;
  }
}

.socials {
  font-size: 35px;
  text-align: center;
  padding:10px;
  margin-left: 27px;
  margin-bottom: 20px;
  li {
    letter-spacing: 40px;
  }
}
.jobs {
  .pending, .accepted, .refused {
    background-color: whitesmoke;
    color:black;
    border-radius: 4px;
    padding:10px 20px;
    height:250px;
  }
  p {
    font-size:18px;
    font-weight:bolder;
    text-align: center;
  }
}

.edit-infos {
  text-align: center;
  padding: 20px;
}
